---
layout: default
---

<article class="post">
	<h1>{{ page.title }}</h1>
	<div class="info">
		Platform: {{ page.platform }}<br />
		Release year: {{ page.release }}<br />
		Developer: {{ page.dev }}<br />
		{% if page.game-notes %}
			{{ page.game-notes }}
		{% endif %}
	</div>
	
	<hr />

	<div class="date">
		Posted on: {{ page.date | date_to_string }}<br />
		{% if page.played-on %}
			{% unless page.date == page.played-on %}
				Finished on: {{ page.played-on | date_to_string }}
			{% endunless %}
		{% endif %}
		{% if page.play-notes %}
			{{ page.play-notes }}
		{% endif %}
	</div>

	<hr />

	<div class="content">
		{{ content }}
	</div>
</article>
